<div class="log-reg-container">
    <div class="log-reg-content">
        <h2 class="log-reg-content-title">{{formType === 'login' ? '登录' : '注册'}}材料管理系统</h2>
        <form class="form form-horizontal" #logRegForm="ngForm">
            <div [ngClass]="{'form-group': true, 'has-error': formEmail.dirty && formEmail.errors, 'has-success': formEmail.dirty && formEmail.valid}">
                <label for="formEmail" class="control-label col-xs-3 col-sm-3">邮箱：</label>
                <div class="col-xs-9 col-sm-9">
                    <input type="email" id="formEmail" name="formEmail" class="form-control" placeholder="请输入用户名"
                           [(ngModel)]="userData.email"
                           required
                           #formEmail="ngModel" [pattern]="EMAIL_PATTERN">
                    <div *ngIf="formEmail.dirty && formEmail.errors">
                        <div *ngIf="formEmail.errors.required" class="help-block text-right">输入不能为空！</div>
                        <div *ngIf="formEmail.errors.pattern" class="help-block text-right">输入格式不正确！</div>
                    </div>
                </div>
            </div>
            <div [ngClass]="{'form-group': true, 'has-error': formPwd.dirty && formPwd.errors, 'has-success': formPwd.dirty && formPwd.valid}">
                <label for="formPwd" class="control-label col-xs-3 col-sm-3">密码：</label>
                <div class="col-xs-9 col-sm-9">
                    <input type="password" id="formPwd" name="formPwd" class="form-control" placeholder="请输入密码"
                           [(ngModel)]="userData.password"
                           required
                           #formPwd="ngModel">
                    <div *ngIf="formPwd.dirty && formPwd.errors">
                        <div *ngIf="formPwd.errors.required" class="help-block text-right">输入不能为空！</div>
                    </div>
                </div>
            </div>
            <div *ngIf="formType === 'register'" class="form-group">
                <label class="control-label col-xs-3 col-sm-3">角色：</label>
                <div class="col-xs-9 col-sm-9 remove-padding">
                    <div class="col-xs-6 col-sm-6 form-role-block">
                        <input type="radio" name="formRole"
                               [(ngModel)]="userData.role"
                               required
                               [value]="1"
                               title="普通用户"
                               #formRole="ngModel">
                        <i [ngClass]="{'fa font-s18': true, 'fa-check-circle text-success': userData.role === 1, 'fa-circle-thin': userData.role !== 1}"></i>
                        <span class="form-role-description">普通用户</span>
                    </div>
                    <div class="col-xs-6 col-sm-6 form-role-block">
                        <input type="radio" name="formRole"
                               [(ngModel)]="userData.role"
                               required
                               [value]="2"
                               title="管理员"
                               #formRole="ngModel">
                        <i [ngClass]="{'fa font-s18': true, 'fa-check-circle text-success': userData.role === 2, 'fa-circle-thin': userData.role !== 2}"></i>
                        <span class="form-role-description">管理员</span>
                    </div>
                </div>
            </div>
            <div *ngIf="formType === 'login'" class="form-group">
                <button type="button" class="btn btn-success col-xs-9 col-sm-9" (click)="login()" [disabled]="!logRegForm.form.valid">登录</button>
                <a class="btn btn-link col-xs-3 col-sm-3" [routerLink]=" ['../register'] ">去注册</a>
            </div>
            <div *ngIf="formType === 'register'" class="form-group">
                <button type="button" class="btn btn-success col-xs-9 col-sm-9" (click)="register()" [disabled]="!logRegForm.form.valid">注册</button>
                <a class="btn btn-link col-xs-3 col-sm-3" [routerLink]=" ['../login'] ">去登录</a>
            </div>
        </form>
    </div>
</div>
