<div class="register-container">
    <div class="register-content">
        <h2 class="register-content-title">材料数据管理系统—{{titleType}}</h2>
        <form class="form form-horizontal" #registerForm="ngForm">
            <div [ngClass]="{'form-group': true, 'has-error': registerEmail.dirty && registerEmail.errors, 'has-success': registerEmail.dirty && registerEmail.valid}">
                <label for="registerEmail" class="control-label col-xs-3 col-sm-3">邮箱：</label>
                <div class="col-xs-9 col-sm-9">
                    <input type="email" id="registerEmail" name="registerEmail" class="form-control" placeholder="请输入用户名"
                           [(ngModel)]="userData.email"
                           required
                           #registerEmail="ngModel" [pattern]="EMAIL_PATTERN">
                    <div *ngIf="registerEmail.dirty && registerEmail.errors">
                        <div *ngIf="registerEmail.errors.required" class="help-block text-right">输入不能为空！</div>
                        <div *ngIf="registerEmail.errors.pattern" class="help-block text-right">输入格式不正确！</div>
                    </div>
                </div>
            </div>
            <div [ngClass]="{'form-group': true, 'has-error': registerPwd.dirty && registerPwd.errors, 'has-success': registerPwd.dirty && registerPwd.valid}">
                <label for="registerPwd" class="control-label col-xs-3 col-sm-3">密码：</label>
                <div class="col-xs-9 col-sm-9">
                    <input type="password" id="registerPwd" name="registerPwd" class="form-control" placeholder="请输入密码"
                           [(ngModel)]="userData.password"
                           required
                           #registerPwd="ngModel">
                    <div *ngIf="registerPwd.dirty && registerPwd.errors">
                        <div *ngIf="registerPwd.errors.required" class="help-block text-right">输入不能为空！</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-success col-xs-12 col-sm-12" (click)="register()" [disabled]="!registerForm.form.valid">登录</button>
            </div>
        </form>
    </div>
</div>

